<div class="inner">
  <p>Tools for debugging the API data.</p>
  <p>Note that any URL elements prefixed with a colon : represent a parameter.</p>
  <div class="input">
    <select id="router"></select>
    <select id="route" style="display:none;"></select>
    <select id="method" style="display:none;"></select>
  </div>
  <div class="meta">
  </div>
  <div class="url">
    <label for="url">Request URL</label>
    <input id="url" name="url" type="text" />
  </div>
  <div class="body" style="display:none;">
    <label for="body">Request body data</label>
    <textarea id="body" name="body"></textarea>
  </div>
  <div class="buttons">
    <button class="btn primary send">Send request</button>
  </div>
  <div class="data" style="display:none;">
  </div>
</div>
